<h1 mat-dialog-title>
    <ng-container *ngIf="event == 'edit'; else elseTemplate">
            Edit operation
    </ng-container>
    <ng-template #elseTemplate>
            Add operation
    </ng-template>
    
    <mat-icon class="close-dialog" (click)="onNoClick()">close</mat-icon>
</h1>
<div mat-dialog-content>
    <form [formGroup]="balanceForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label>Select type</mat-label>
            <mat-select formControlName="type" [ngClass]="{'is-invalid':submitted && f.type.errors }">
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && f.type.errors">
                <span *ngIf="f.type.errors.required">Type is required</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Enter amount" type="number" formControlName="amount"
                [ngClass]="{'is-invalid':submitted && f.amount.errors }">
            <mat-error *ngIf="submitted && f.amount.errors">
                <span *ngIf="f.amount.errors.required">Amount is required</span>
                <span *ngIf="f.amount.errors.min||f.amount.errors.max">Amount should be numberic</span>
            </mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" [disabled]="loading" class="button login-button">
                Submit
            </button>
        </mat-card-actions>

        <mat-card-actions *ngIf="loading" align="start" class="login-loading">
            <br>
            <br>
            <mat-spinner [diameter]="25" [style.display]="block"></mat-spinner>
        </mat-card-actions>
        <div *ngIf="loading == false && error">
            <br>
            <div class="fail-block">
                <mat-error>{{error}}</mat-error>
            </div>
        </div>
    </form>
</div>