<mat-toolbar color="primary" *ngIf="currentUser">
    <span class="fill-remaining-space">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <a class="menu-link" routerLink="/">
                <button mat-menu-item>
                    <mat-icon>home</mat-icon>
                    Home
                </button>
            </a>
            <a class="menu-link" (click)="logout()">
                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    Logout
                </button>
            </a>
        </mat-menu>
    </span>
    <span class="fill-remaining-space">Wallet App</span>
</mat-toolbar>


<div class="row center-xs">
    <div class="col-xs-6">
        <div class="box">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>