@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~flexboxgrid/css/flexboxgrid.min.css";
body{
    min-height: 100vh;
    background-color: #e9ecef;
}
.menu-link{
    text-decoration: none;
}
.menu-link:visited{
    color: #757575;
}
table{
    width: 100%;
}
td{
    text-align: left;
}