@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~flexboxgrid/css/flexboxgrid.min.css";
body{
    min-height: 100vh;
    background-color: #e9ecef;
}
.menu-link{
    text-decoration: none;
}
.menu-link:visited{
    color: #757575;
}
table{
    width: 100%;
}
td{
    text-align: left;
}

.row{    
    margin-right: 0rem;
    margin-left: 0rem;
}

.success-block{
    color: #285b2a !important;
    background-color: #dbefdc !important;
    border-color: #cde9ce !important;
    padding: .75rem 1.25rem;
}

.fail-block{
    color: #7f231c !important;
    background-color: #fdd9d7 !important;
    border-color: #fccac7 !important;
    padding: .75rem 1.25rem;
}

.danger-snackbar{
    background-color: #f44336 !important;
    color: white;
}

.mat-form-field {
    width: 100%;
}

.delete-icon{
    color: red;
}

.edit-icon{
    color: orange;
}

.close-dialog{
    float:right;
    cursor:pointer;
}