<h1>Current Balance:
    <mat-spinner *ngIf="loading" [diameter]="25" [style.display]="block" class="balance-loader"></mat-spinner>
    <span *ngIf="!loading">{{total}}$</span>
</h1>
<button mat-raised-button color="primary" [disabled]="loading" class="button login-button" (click)="openDialog()">
    Add operation
</button>
<br>
<br>
<table mat-table [dataSource]="balance" class="mat-elevation-z8" *ngIf="!loading && balance.length > 0">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element">
            <span [ngStyle]="{color: element.type == 'debit' ? 'red' : 'green'}">{{element.amount}}</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="added">
        <th mat-header-cell *matHeaderCellDef> Added </th>
        <td mat-cell *matCellDef="let element"> {{convertTime(element.added)}} </td>
    </ng-container>

    <ng-container matColumnDef="operation">

        <th mat-header-cell *matHeaderCellDef> Operation </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="operation-button">
                <mat-icon class="balance-icon edit-icon" (click)="editOperation(element)">edit</mat-icon>
            </button>
            <button mat-icon-button class="operation-button">
                <mat-icon class="balance-icon delete-icon" (click)="deleteOperation(element)">delete_forever</mat-icon>
            </button>
        </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<button *ngIf="balance.length > 0" mat-raised-button color="warn" [disabled]="loading" class="button login-button"
    (click)="clearBalance()">
    Clear all operations
</button>