.balance-loader{
    display:inline-block !important;
}

table{
    width: 100%;
}

tr td:last-child{
    width:1%;
    white-space:nowrap;
}

.operation-button{
    border-radius: 0;
    width: 25px;
}

.balance-icon{
    font-size: 20px;
}

.delete-icon{
    color: red;
}

.edit-icon{
    color: orange;
}